mat-form-field {
    width: 100%;
}

button {
    float: right;
    width: 200px;
}

mat-toolbar {
    background: #0f0d46;
    color: #7c5a2e;
    height: 64px;
    width: 150%; 
    margin-left: -180px; 
    margin-top: -100px;
    // position: fixed;
    // z-index: 1;
}

a:hover {
    font-weight: bolder;
    text-shadow: 0 0 30px rgb(0, 255, 34);
}