<mat-toolbar>
    <div style="text-align: center;">
        <a routerLink="/"><span style="font-size: 33px; font-weight: bolder;">FACEMASH</span></a>
    </div>
    <div class="rigth">
        <img src="https://shorturl.at/iqyC7" alt="avatar" width="30px"
            style="border-radius: 50%; border: black; margin-right: 10px;">
        <a routerLinkActive="active-link" routerLink="/">
            <span>Logout</span>
        </a>
    </div>
</mat-toolbar>

<div class="container">
    <div class="card p-4" style="margin-bottom: 20px; height: 50px; border-radius: 30px; background-color: #f0f8ff86;">
        <div style="display: flex; justify-content: space-around;">
            <a routerLink="/posts"><span>HOME</span> </a>
            <a routerLink="/topten"><span style="color: brown; font-weight: bolder;">TOP10</span> </a>
            <a routerLink="/graph"><span>STATISTICS/WEEK</span></a>
            <span style="margin-top: -10px;">SETTING</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center;">Top 10 Images by Points</h3>
            <div class="card" style="padding: 10px; background-color: #f0f8ff86;">
                <div class="row">
                    <div class="col-md-12">
                        <ol>
                            <li *ngFor="let image of topTenImages; let i = index">
                                <div class="row" style="text-align: center; align-items: center;">
                                    <div class="col-md-4">
                                        <img [src]="image.image_url" width="200" height="200"
                                            style="margin-bottom: 10px;">
                                    </div>
                                    <div class="col-md-4">
                                        <span style="margin-left: 10px;">
                                            <h4 style="font-weight: bolder;">PointsByImage:</h4>
                                            {{ image.points }}
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span style="margin-left: 10px;">
                                            <h4 style="font-weight: bolder;">UserNameOwn:</h4>
                                            {{ image.name }}
                                            <p>Previous Rank: {{ image.id | previousRank: previousTopTenImages }}</p>


                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>