/* You can add global styles to this file, and also import other style files */
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: -10px;
}


.img_box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("https://shorturl.at/dxM19");
    background-size: 100%;
    // background-color: antiquewhite;
}

.nav-color {
    background-color: #ffcd8b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
